[user]
        name = Volodymyr Shcherbinin (vovin)
        email = vovin@lurk.kiev.ua
[push]
        default = current
[core]
        autocrlf = input
        editor = vim
[color]
        ui = true
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
